<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbaradmin.ejs") %>
    <main>
        <table class="green-table">
                <tr>
                    <% indexes.forEach((e)=>{ %>
                        <th> <%= e.Field %> </th>
                    <% }) %>
                    <th>Apagar</th>
                </tr>
                <% data.forEach((e)=>{ %>
                    <tr>
                        <% Object.keys(e).forEach((key)=>{ %>
                            <% if(key == "image"){ %>
                                <td>
                                    <img id="image-admin" src="data:image/jpg;base64,<%= e[key] %>" alt="<%= e[key] %>" value="Botar" accept="image/png, image/jpeg">
                                </td>
                            <% }else{ %>
                                <td> <%= e[key] %> </td>
                            <% } %>
                        <% }) %>
                        <td><form action="/database/delete" method="POST"><input type="text" name="idContatos" value="<%= e.id %>" class="disable" readonly><button><i class="fi fi-rr-trash-xmark"></i></button></form></td>
                    </tr>
                <% }) %>
                <tr>
                    <% indexes.forEach((e)=>{ %>
                        <% if(e.Field == "image"){ %>
                            <td>
                                <input id="image-admin" type="file" name="<%= e.Field %>" form="myform">
                            </td>
                        <% }else{ %>
                            <td> <input type="text" name="<%= e.Field %>" form="myform"> </td>
                        <% } %>
                    <% }) %>
                    <td><input type="submit" value="Adicionar" form="myform"></td>
                </tr>
        </table>
        <div class="mobile-table">
            <div class="header">
                <% indexes.forEach((headers)=>{ %>
                    <p><%= headers.Field %></p>
                <% }) %>
                <p>Acões</p>
            </div>
            <div class="content">
                <div class="window">
                    <% data.forEach((itens)=>{ %>
                        <div>
                        <% indexes.forEach((headers)=>{ %>
                                <p><%= itens[headers.Field] %></p>
                        <% }) %>
                            <form action="/database/delete" method="POST"><input type="text" name="idContatos" value="<%= itens.id %>" class="disable" readonly><button><i class="fi fi-rr-trash-xmark"></i></button></form>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="mobile-table">
            <div class="header">
                <% indexes.forEach((headers)=>{ %>
                    <% if(headers.Field != "id"){ %>
                        <p><%= headers.Field %></p>
                    <% } %>
                <% }) %>
                <p>Acões</p>
            </div>
            <div class="content">
                <div class="window">
                    <div>
                        <% indexes.forEach((headers)=>{ %>
                            <% if(headers.Field != "id"){ %>
                                <input type="text" name="<%= headers %>" form="myform">
                            <% } %>
                        <% }) %>
                        <input type="submit" form="myform" value="Adicionar">
                    </div>
                </div>
            </div>
        </div>
        <form action="/database/add/<%= table %>" method="post" id="myform"></form>
        <script>
            if(document.URL.split('/')[document.URL.split('/').length -1] == 'images'){
                document.getElementById('myform').setAttribute('enctype', 'multipart/form-data');
            }
        </script>
    </main>
</body>
</html>