<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbaradmin.ejs") %>
    
    <main class="table">
        <table class="green-table">
                <tr>
                    <% indexes.forEach((e)=>{ %>
                        <th> <%= e.Field %> </th>
                    <% }) %>
                    <th>Apagar</th>
                    <% if(table == "etiqueta" || table == "paying"){ %>
                        <th>Ver</th>    
                    <% } %>
                    <% if(table == "products" || table == "images"){ %>
                        <th>Atualizar</th>    
                    <% } %>
                </tr>
                <% data.forEach((e)=>{ %>
                    <tr>
                        <% Object.keys(e).forEach((key)=>{ %>
                            <% if(key == "image"){ %>
                                <td>
                                    <img id="image-admin" src="data:image/jpg;base64,<%= e[key] %>" alt="<%= e[key] %>" value="Botar" accept="image/png, image/jpeg">
                                </td>
                            <% }else{ %>
                                <td> <%= e[key] %> </td>
                            <% } %>
                        <% }) %>
                        <% if(table == "refund"){ %>
                            <td>
                                <form action="/make/refund" method="POST">
                                    <input type="text" name="check_ref" value="<%= e.uuid_check_ref %>" class="disable" readonly>
                                    <button>
                                        <i class="fi fi-rr-trash-xmark"></i>
                                    </button>
                                </form>
                            </td>
                        <% }else if(table == "comments"){ %>
                            <td>
                                <form action="/database/delete/<%= table %>" method="POST">
                                    <input type="text" name="idUser" value="<%= e.idUser %>" class="disable" readonly>
                                    <input type="text" name="idItem" value="<%= e.idItem %>" class="disable" readonly>
                                    <button>
                                        <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                        <i class="fi fi-rr-trash-xmark"></i>
                                    </button>
                                </form>
                            </td>
                        <% }else if(table == "etiqueta" || table == "paying"){ %>
                            <% if( table == "paying" && e['authorization_code'] != null){ %>
                                <td>
                                    <form action="/admin/print/<%= table %>" method="POST">
                                        <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                        <button style="background-color: #32ac47;"><i class="fi fi-rr-print"></i></i></button>
                                    </form>
                                </td>
                            <% }else if( table == "paying" && e['paid_at'] != null){ %>
                                <td>
                                    <form action="/admin/generate/<%= table %>" method="POST">
                                        <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                        <button style="background-color: #662eed;"><i class="fi fi-rr-magic-wand"></i></button>
                                    </form>
                                </td>
                            <% }else{ %>
                                <td>
                                    <form action="/admin/delete/<%= table %>" method="POST">
                                        <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                        <button><i class="fi fi-rr-trash-xmark"></i></button>
                                    </form>
                                </td>
                            <% } %>
                            <td>
                                    <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                    <a style="background-color: #24a0ed;" href="/admin/<%= table %>/<%= e.id %>" target="_blank"><i class="fi fi-rr-search"></i></i></i></a>
                            </td>
                        <% }else if(table == "products" || table == "images"){ %>
                            <td>
                                <form action="/database/delete/<%= table %>" method="POST">
                                    <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                    <button><i class="fi fi-rr-trash-xmark"></i></button>
                                </form>
                            </td>
                            <td>
                                <a href="/admin/edit/<%= table %>/<%= e.id %>" style="background-color: #24a0ed;" ><i class="fi fi-rr-edit"></i></a>
                            </td>
                        <% }else{ %>
                            <td>
                                <form action="/database/delete/<%= table %>" method="POST">
                                    <input type="text" name="id" value="<%= e.id %>" class="disable" readonly>
                                    <button><i class="fi fi-rr-trash-xmark"></i></button>
                                </form>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
                <tr><% if(table != "refund" && table != 'etiqueta' && table != "paying"){ %>
                        <% indexes.forEach((e)=>{ %>
                            <% if(e.Field == "image"){ %>
                                <td>
                                    <input id="image-admin" type="file" name="<%= e.Field %>" form="myform">
                                </td>
                            <% }else if(e.Field == "type"){ %>
                                <td>
                                    <select name="type" id="type" form="myform">
                                        <option value="facial">Facial</option>
                                    </select>
                                </td>
                            <% }else{ %>
                                <td> 
                                    <input type="text" name="<%= e.Field %>" form="myform">
                                </td>
                            <% } %>
                        <% }) %>
                        <td><input type="submit" value="Adicionar" form="myform"></td>
                    <% } %>
                </tr>
        </table>
        <div class="mobile-table">
            <div class="header">
                <% indexes.forEach((headers)=>{ %>
                    <p><%= headers.Field %></p>
                <% }) %>
                <p>Acões</p>
                <% if(table == "etiqueta" || table == "paying"){ %>
                    <p>Ver</p>    
                <% } %>
                <% if(table == "products" || table == "images"){ %>
                    <p>Update</p>
                <% } %>
            </div>
            <div class="content">
                <div class="window">
                    <% data.forEach((itens)=>{ %>
                        <div>
                        <% indexes.forEach((headers)=>{ %>
                                <p><%= itens[headers.Field] %></p>
                        <% }) %>
                        <% if(table == "refund"){ %>
                            <td>
                                <form action="/make/refund" method="POST">
                                    <input type="text" name="check_ref" value="<%= itens.uuid_check_ref %>" class="disable" readonly>
                                    <button>
                                        <i class="fi fi-rr-trash-xmark"></i>
                                    </button>
                                </form>
                            </td>
                        <% }else if(table == "comments"){ %>
                            <td>
                                <form action="/database/delete/<%= table %>" method="POST">
                                    <input type="text" name="idUser" value="<%= itens.idUser %>" class="disable" readonly>
                                    <input type="text" name="idItem" value="<%= itens.idItem %>" class="disable" readonly>
                                    <button>
                                        <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                        <i class="fi fi-rr-trash-xmark"></i>
                                    </button>
                                </form>
                            </td>
                        <% }else if(table == "etiqueta" || table == "paying"){ %>
                            <% if( table == "paying" && itens['authorization_code'] != null){ %>
                                <td>
                                    <form action="/admin/print/<%= table %>" method="POST">
                                        <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                        <button style="background-color: #32ac47;"><i class="fi fi-rr-print"></i></i></button>
                                    </form>
                                </td>
                            <% }else if( table == "paying" && itens['paid_at'] != null){ %>
                                <td>
                                    <form action="/admin/generate/<%= table %>" method="POST">
                                        <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                        <button style="background-color: #662eed;"><i class="fi fi-rr-magic-wand"></i></button>
                                    </form>
                                </td>
                            <% }else{ %>
                                <td>
                                    <form action="/database/delete/<%= table %>" method="POST">
                                        <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                        <button><i class="fi fi-rr-trash-xmark"></i></button>
                                    </form>
                                </td>
                            <% } %>
                            <td>
                                <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                <a style="background-color: #24a0ed;" href="/admin/<%= table %>/<%= itens.id %>" target="_blank"><i class="fi fi-rr-search"></i></i></i></a>
                            </td>
                        <% }else if(table == "products" || table == "images"){ %>
                            <td>
                                <form action="/database/delete/<%= table %>" method="POST">
                                    <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                    <button><i class="fi fi-rr-trash-xmark"></i></button>
                                </form>
                            </td>
                            <td>
                                <a href="/admin/edit/<%= table %>/<%= itens.id %>" style="background-color: #24a0ed;" ><i class="fi fi-rr-edit"></i></a>
                            </td>
                            <% }else{ %>
                            <td>
                                <form action="/database/delete/<%= table %>" method="POST">
                                    <input type="text" name="id" value="<%= itens.id %>" class="disable" readonly>
                                    <button><i class="fi fi-rr-trash-xmark"></i></button>
                                </form>
                            </td>
                        <% } %>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <% if(table != "refund" && table != 'etiqueta' && table != "paying"){ %>
        <div class="mobile-table">
            <div class="header">
                <% indexes.forEach((headers)=>{ %>
                    <% if(headers.Field != "id"){ %>
                        <p><%= headers.Field %></p>
                    <% } %>
                <% }) %>
                <p>Acões</p>
            </div>
            <div class="content">
                <div class="window">
                    <div>
                        <% indexes.forEach((headers)=>{ %>
                            <% if(headers.Field == "type"){ %>
                                <input type="text" name="<%= headers.Field %>" form="myformmob" value="1">
                            <% }else if(headers.Field != "id"){ %>
                                <input type="text" name="<%= headers.Field %>" form="myformmob" value="1">
                            <% } %>
                        <% }) %>
                        <input type="submit" form="myformmob" value="Adicionar">
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <form action="/database/add/<%= table %>" method="post" id="myformmob"></form>
        <form action="/database/add/<%= table %>" method="post" id="myform"></form>
        <script>
            if(document.URL.split('/')[document.URL.split('/').length -1] == 'images'){
                document.getElementById('myform').setAttribute('enctype', 'multipart/form-data');
            }
        </script>
    </main>
</body>
</html>