<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbaradmin.ejs") %>
    <main>
        <table class="green-table">
            <tr>
                <% Object.keys(data[0]).forEach((e)=>{ %>
                    <th> <%= e %> </th>
                <% }) %>
                <th>Apagar</th>
            </tr>
            <% data.forEach((e)=>{ %>
                <tr>
                    <% Object.keys(e).forEach((key)=>{ %>
                        <td> <%= e[key] %> </td>
                    <% }) %>
                    <td><form action="/database/delete" method="POST"><input type="text" name="idContatos" value="<%= e.id %>" class="disable" readonly><button><i class="fi fi-rr-trash-xmark"></i></button></form></td>
                </tr>
            <% }) %>
            <tr>
                <% Object.keys(data[0]).forEach((e)=>{ %>
                    <td> <input type="text" name="<%= e %>" form="myform"> </td>
                <% }) %>
                <td><input type="submit" value="Adicionar" form="myform"></td>
            </tr>
        </table>
        <div class="mobile-table">
            <div class="header">
                <% Object.keys(data[0]).forEach((headers)=>{ %>
                    <p><%= headers %></p>
                <% }) %>
                <p>Acões</p>
            </div>
            <div class="content">
                <div class="window">
                    <% data.forEach((itens)=>{ %>
                        <div>
                        <% Object.keys(data[0]).forEach((headers)=>{ %>
                                <p><%= itens[headers] %></p>
                        <% }) %>
                            <form action="/database/delete" method="POST"><input type="text" name="idContatos" value="<%= itens.id %>" class="disable" readonly><button><i class="fi fi-rr-trash-xmark"></i></button></form>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="mobile-table">
            <div class="header">
                <% Object.keys(data[0]).forEach((headers)=>{ %>
                    <% if(headers != "id"){ %>
                        <p><%= headers %></p>
                    <% } %>
                <% }) %>
                <p>Acões</p>
            </div>
            <div class="content">
                <div class="window">
                    <div>
                        <% Object.keys(data[0]).forEach((headers)=>{ %>
                            <% if(headers != "id"){ %>
                                <input type="text" name="<%= headers %>" form="myform">
                            <% } %>
                        <% }) %>
                        <input type="submit" form="myform" value="Adicionar">
                    </div>
                </div>
            </div>
        </div>
        
        <form action="/database/add/<%= table %>" method="post" id="myform"></form>
    </main>
</body>
</html>