<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
    <head>
        <script src="../script/script.js"></script>
        
    </head>
<body onload="">
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="product-container">
            <div id="itens-container">
                <div id="itens-list">
                    <p>Carrinho de compras</p>
                    <hr>
                </div>
                <div id="summary">
                    <div class="summary-box">
                        <div class="summary-box-info">
                            <p>Frete</p>
                            <p id="frete">R$ 0,00</p>
                        </div>
                        <div class="summary-box-info">
                            <p>Total</p>
                            <p id="total">R$ 0,00</p>
                        </div>
                        <fieldset id="freteMelhorEnvio">
                            <legend>Frete</legend>
                            <div>
                                <input type="number" name="CEP" onkeydown="return event.keyCode !== 69" class="input">
                                <label for="normal">Digite seu CEP <br>
                                <button class="summary-box-button" onclick="CalculeFrete()">Calcule seu frete</button>
                            </div>
                        </fieldset>
                        <button class="summary-box-button" onclick="sendItens()">Pagamento</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let itens = JSON.parse(localStorage.getItem("item"));

            render();
            total(0)

            function total(){
                itens = JSON.parse(localStorage.getItem("item"));

                let total = 0;
                let subtotal = 0; 
                let carrinho = 0

                for(let i = 0; i < document.getElementsByClassName("normal").length; i++){
                    if(document.getElementsByClassName("normal")[i].checked){
                        frete = parseFloat(document.getElementsByClassName("normal")[i].value)
                    }
                }

                itens.forEach(i => {
                    subtotal += parseFloat(i.price.replace(",", ".")) * i.qtd;
                    carrinho += parseInt(i.qtd);
                });

                total = subtotal + frete;

                document.getElementById("subtotal").innerHTML = `Subtotal (${carrinho} produtos): <strong>R$${subtotal.toFixed(2)}</strong>`;
                document.getElementById("frete").innerHTML = `R$${frete.toFixed(2)}`;
                document.getElementById("total").innerHTML = `R$${total.toFixed(2)}`;
            }
            function render(){
                let total = 0;
                for(let i = 0; i < itens.length; i++){
                    document.getElementById("itens-list").innerHTML += `
                        <div class="item">
                            <div class="img-container">
                                <img src="${itens[i].img}">
                            </div>
                            <div class="desc-container">
                                <div>
                                    <p id="name-info">${itens[i].name}</p>
                                    <p id="preco-info">R$ ${itens[i].price}</p>
                                </div>
                                <div class="qtd">
                                    <button id="left" onclick="qtdButton(0,${itens[i].id},${i})"><i class="fi fi-rr-plus"></i></button>
                                    <input type="number" value="${itens[i].qtd}" id="qtd-input-${i}">
                                    <button id="right" onclick="qtdButton(1,${itens[i].id},${i})"><i class="fi fi-rr-minus-small"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    `;

                    if(i == itens.length -1){
                        document.getElementById("itens-list").innerHTML += `
                        <div class="summary-box-info">
                            <p id="subtotal"></p>
                        </div>
                        `
                    }
                }
            }
            function qtdButton(dir, id, val){
                let qtd = parseInt(document.getElementById("qtd-input-" + val).value);
                switch (dir){
                    case 0:
                        document.getElementById("qtd-input-" + val).value = qtd + 1;
                        qtd++;
                        break;
                    case 1:
                        if(qtd > 0){
                            document.getElementById("qtd-input-" + val).value = qtd - 1;
                            qtd--;
                        }
                        break;
                }
                item.findIndex(function(x, i){
                    if(x.id == id){
                        item[i].qtd = parseInt(document.getElementById("qtd-input-" + val).value);
                    }
                });

                if(qtd == 0){
                    for(let i = 0; i<item.length; i++){
                        item[i].name == document.getElementById("qtd-input-0").parentNode.parentNode.childNodes[1].childNodes[1].textContent ? item.splice(i, 1) : console.log("não encontrado");
                    }
                    location.reload();
                }
                
                localStorage.setItem("item", JSON.stringify(item));
                total()
            }
            function sendItens(){
                axios({
                    method: "post",
                    url: "/payment",
                    data: {
                        itens: itens
                    },
                }).then((res) => {
                    window.location.href = '/payment/' + res.data.url;
                })
            }
            // function CalculeFrete() 
            // {
            //     itens = JSON.parse(localStorage.getItem("item"));
            //     let produtos = "";
            //     let melhorEnvioDAO = new melhorenvioDAO()
                
            //     itens.forEach(i => {
            //         produtos += "\"id\":" + i.id + ", width: "+ i.width + ", height: " + i.height + ", length: " + i.length +", weight: " + i.weight + ", insurance_value: "+ i.value+", quantity: " + i.qtd
            //     });

            //     const fetch = await fetch('https://sandbox.melhorenvio.com.br/api/v2/me/shipment/calculate',
            //     {
            //         method: 'POST',
            //         headers: 
            //         {
            //             "Content-Type": "routeslication/json",
            //             "Authorization": melhorEnvioDAO.buscaToken(),
            //         },
            //         body:
            //         JSON.stringify(
            //             {
            //                 "from": 
            //                 {
            //                     "postal_code": "03533200"
            //                 },
            //                 "to": 
            //                 {
            //                     "postal_code": document.getElementById("CEP").innerHTML
            //                 },
            //                 "products": 
            //                 [{

            //                     produtos
            //             }],
            //             })
            //     });
            //     if(fetch.ok){
            //         let data = await fetch.json();
            //         let fretes = "";
            //         data.forEach(dat => {
            //             fretes += "<div><input type=\"radio\" class=\"normal\" name=\"normal\" value=\""+dat.price+"\"><label for=\"normal\">Entrega feita por: " + dat.name+ "<br><strong>R$ "+dat.price+"</strong> " + dat.name+ "</label></div>"
            //         })
            //         document.getElementById("freteMelhorEnvio").innerHTML = fretes;

            //         }else{
            //             res.status(500).send('MelhorEnvio falhou na busca dos fretes')
            //         }
            // }
        </script>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>