<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="product-container">
            <div id="itens-container">
                <div id="itens-list">
                    <p>Carrinho de compras</p>
                </div>
                <div id="summary">
                    <h1>Pedido</h1>
                    <div class="summary-box">
                        <div class="summary-box-itens" id="box-itens">
                        </div>
                        <hr>
                        <div class="summary-box-info">
                            <p>Total</p>
                            <p id="total">R$ 0,00</p>
                        </div>
                        <div class="summary-box-cep">
                            <label for="normal">Digite seu CEP</label>
                            <input type="number" name="CEP" onkeydown="return event.keyCode !== 69" class="input">
                        </div>
                        <input type="submit" id="calcularFrete" onclick="sendItens()" class="btn" value="Calcule seu Frete">
                    </div>
                </div>
            </div>
        </div>
       
        <script>
            let itens = JSON.parse(localStorage.getItem("item"));

            render();
            total(0)

            function total(){
                itens = JSON.parse(localStorage.getItem("item"));

                let total = 0;
                let subtotal = 0; 
                let carrinho = 0

                //for(let i = 0; i < document.getElementsByClassName("normal").length; i++){
                //    if(document.getElementsByClassName("normal")[i].checked){
                //        frete = parseFloat(document.getElementsByClassName("normal")[i].value)
                //    }
                //}

                itens.forEach(i => {
                    subtotal += parseFloat(i.price.replace(",", ".")) * i.qtd;
                    carrinho += parseInt(i.qtd);
                    document.getElementById("item-"+[i.id]).innerHTML = `(${i.qtd})`;
                });

                //total = subtotal + frete;
                total = subtotal;

                //document.getElementById("subtotal").innerHTML = `Subtotal (${carrinho} produtos): <strong>R$${subtotal.toFixed(2)}</strong>`;
                //document.getElementById("frete").innerHTML = `R$${frete.toFixed(2)}`;
                document.getElementById("total").innerHTML = `R$${total.toFixed(2)}`;
            }
            function render(){
                let total = 0;
                for(let i = 0; i < itens.length; i++){
                    document.getElementById("itens-list").innerHTML += `
                        <div class="item">
                            <div class="img-container">
                                <img src="${itens[i].img}">
                            </div>
                            <div class="desc-container">
                                <p id="name-info">${itens[i].name}</p>
                                <div class="qtd">
                                    <button id="left" onclick="qtdButton(0,${itens[i].id},${i})"><i class="fi fi-rr-plus"></i></button>
                                    <input type="number" value="${itens[i].qtd}" id="qtd-input-${i}">
                                    <button id="right" onclick="qtdButton(1,${itens[i].id},${i})"><i class="fi fi-rr-minus-small"></i></button>
                                </div>
                                <p id="preco-info">R$ ${itens[i].price}</p>
                            </div>
                        </div>
                    `;

                    if(i == itens.length -1){
                        itens.forEach(i => {
                            document.getElementById("box-itens").innerHTML += `
                            <div class="summary-box-info">
                                <div>
                                    <p class="box-itens-name">${i.name}</p>  
                                    <p class="box-itens-qtd" id="item-${i.id}">(${i.qtd})</p>  
                                </div>
                                <p id="item-total">R$${i.price}</p>
                            </div>
                            `
                        });
                    }

                    //if(i == itens.length -1){
                    //    document.getElementById("itens-list").innerHTML += `
                    //    <div class="summary-box-info">
                    //        <p id="subtotal"></p>
                    //    </div>
                    //    `
                    //}
                }
            }
            function qtdButton(dir, id, val){
                let qtd = parseInt(document.getElementById("qtd-input-" + val).value);
                switch (dir){
                    case 0:
                        document.getElementById("qtd-input-" + val).value = qtd + 1;
                        qtd++;
                        break;
                    case 1:
                        if(qtd > 0){
                            document.getElementById("qtd-input-" + val).value = qtd - 1;
                            qtd--;
                        }
                        break;
                }
                item.findIndex(function(x, i){
                    if(x.id == id){
                        item[i].qtd = parseInt(document.getElementById("qtd-input-" + val).value);
                    }
                });

                if(qtd == 0){
                    for(let i = 0; i<item.length; i++){
                        console.log(item[i].name);
                        item[i].name == document.getElementById("qtd-input-0").parentNode.parentNode.childNodes[1].textContent ? item.splice(i, 1) : console.log("não encontrado");
                    }
                    location.reload();
                }
                
                localStorage.setItem("item", JSON.stringify(item));
                total()
            }
            function sendItens(){
                console.log(document.getElementsByName("CEP")[0].value)
                axios({
                    method: "post",
                    url: "/calcularFrete",
                    data: {
                        itens: itens,
                        CEP: document.getElementsByName("CEP")[0].value
                    },
                }).then((res) => {
                    window.location.href = '/fretes';
                })
            }
        </script>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>