<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="comment-container">
            <h1>Deixe sua avaliação</h1>
            <form action="/comments/add/<%= data.check_ref %>/<%= data.idItem %>" method="POST">
                <div class="form-group">
                    <label for="rate">Avaliação</label>
                    <div>
                        <button  type="button" class="star-button" onclick="setRate(1)"><img class="star-img" src="/src/estrela vazia.png" alt=""></button>
                        <button  type="button" class="star-button" onclick="setRate(2)"><img class="star-img" src="/src/estrela vazia.png" alt=""></button>
                        <button  type="button" class="star-button" onclick="setRate(3)"><img class="star-img" src="/src/estrela vazia.png" alt=""></button>
                        <button  type="button" class="star-button" onclick="setRate(4)"><img class="star-img" src="/src/estrela vazia.png" alt=""></button>
                        <button  type="button" class="star-button" onclick="setRate(5)"><img class="star-img" src="/src/estrela vazia.png" alt=""></button>
                    </div>
                    <label for="comment">Comentário</label>
                    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                    <input type="number" name="rate" id="comment_rete" style="display: none;">
                    <input type="submit" value="Comentar">
                </div>
            </form>
        </div>
    </main>
    <script>
        function setRate(stars){
            let buttons = document.getElementsByClassName('star-img');
            let rate = document.getElementById('comment_rete');

            for(let i = 0; i < 5; i++){
                buttons[i].src = '/src/estrela vazia.png';
            }
            for(let i = 0; i < stars; i++){
                buttons[i].src = '/src/estrela.png'
            }
            rate.value = stars;
        }
    </script>
    <%- include ("partials/footer.ejs") %>
</body>
</html>