<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="profile-container">
            <div class="navlist">
                <%- include ("partials/profilenav.ejs") %>
            </div>
            <div class="account-info">
                <h1>Minha conta</h1>
                <div class="info-contaner">

                    <h2>Meu agendamento <%= orders[0].dataHoraAgendamento.toLocaleDateString() %></h2>
                    <p> Agendamento n° <%= orders[0].check_ref.slice(0,10) %></p>
                    <div class="account-container single">
                        <div class="information">
                            <div>
                                <label for="end">Procedimento</label>
                                <p><%= orders[0].idProcedimento %></p>
                            </div>
                            <div>
                                <label for="status">Status do pedido</label>
                                <p><%= orders[0].status %></p>
                            </div>
                            <div>
                                <label for="total">Total do pedido</label>
                                <p>R$ <%= orders[0].price %></p>
                            </div>
                        </div>
                        <div class="button-container">
                            <% if(orders[0].status == "Pago" || orders[0].status == "Entregue"){ %>
                                <input class="button" onclick="comunicarEquipe()"  type="submit" value="Cancelar agendamentos" form="myform" >
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <%- include ("partials/footer.ejs") %>
        <script>
        function comunicarEquipe(){
            alert("Para cancelar um agendamento entre em contato com a nossa equipe. Você será redirecionado para o nosso WhatsApp");
            window.location = "https://api.whatsapp.com/message/MACLYMXPASI3N1?autoload=1&app_absent=0"
        }
        </script>
    </body>
    </html>
 