<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
<main>
    <div class="job-container">
        <div class="job-list">
            <% data.forEach(item => { %>
                <a href="/consulta/orders/<%= item.check_ref %>" class="job-card">
                    <h3><%= item.idProcedimento[0] %></h3>
                    <p class="subline">Cliente: <%= item.idUser %></p>
                    <p><%= item.dataHoraAgendamento.toLocaleDateString("pt-BR",{timeZone: 'America/Sao_Paulo',year: 'numeric',month: 'numeric',day: 'numeric',hour: 'numeric',minute: 'numeric',second: 'numeric',}).replace(', ',' - ') %></p>
                    <div>
                        <p>Valor: R$ <%= item.price %></p>
                        <p class="<%= item.status %>"><%= item.status %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</main>
<%- include ("partials/footer.ejs") %>
</body>
</html>