<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="profile-container">
            <div class="navlist">
                <%- include ("partials/profilenav.ejs") %>
            </div>
            <div class="account-info">
                <h1>Minha conta</h1>
                <form action="/profile/edit" method="post">
                    <h2>Meus Agendamentos</h2>
                    <div class="account-container table">
                        <table>
                            <tr>
                                <th class="mob-only">Data</th>
                                <th>Preço</th>
                                <th class="mob-only">Status</th>
                            </tr>
                            <% orders.forEach((order)=>{ %>
                                <tr>
                                    <td class="mob-only"><%= order.check_ref.slice(0,10) %></td>
                                    <td>R$ <%= order.price %></td>
                                    <td class="mob-only"><%= order.status %></td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>