<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function deleteById(id){
            console.log("deleted : " + id);
            let table = window.location.pathname.split("/")[window.location.pathname.split("/").length - 1];
            axios.post("/debug/delete/" + table, {id: id}).then(Response =>{
                window.location.reload();
            }).catch(error => {
                console.log(error);
            });
        }
        function mimic(ElementId){
            // armazenar os valores da linha em um array
            const values = [];
            const trow = document.getElementById(`tr${ElementId}`);
            let table = window.location.pathname.split("/")[window.location.pathname.split("/").length - 1];
            trow.childNodes.forEach(child => {
                if(child.nodeName == "TD"){
                    values.push(child.innerHTML);
                }
            });
            console.log(values);
            const keys = "<%= Object.keys(result[0]) %>".replaceAll(`"`, '').split(",");
            trow.innerHTML = `<form action="/debug/update/${table}" method="post" id="fr${ElementId}" <%= crypt %>></form>`;
            for(let i = 0; i < keys.length; i++){
                if(keys[i] == "image"){
                    trow.innerHTML += `<td><input class="styled-input" type="file" name="${keys[i]}" id="${keys[i]}" form="fr${ElementId}"></td>`;
                }else if(keys[i] == "id" || keys[i] == "password" || keys[i] == "salt" || keys[i] == "userId"){
                    trow.innerHTML += `<td><input class="styled-input" type="text" name="${keys[i]}" id="${keys[i]}" value="${values[i]}" form="fr${ElementId}" readonly></td>`;
                }else{
                    trow.innerHTML += `<td><input class="styled-input" type="text" name="${keys[i]}" id="${keys[i]}" value="${values[i]}" form="fr${ElementId}"></td>`;
                }
            }
            trow.innerHTML += `<td><button class="styled-button add" form="fr${ElementId}"><i class="fi fi-rr-edit"></button></td>`;
        }
    </script>
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f3f3f3;
        }
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            max-width: 300px;
            min-width: 50px;
        }
        .styled-table tbody tr {
            border-bottom: thin solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr:hover {
            color: #009879;
        }
        .styled-table tbody tr:active {
            color: #980026;
        }
        .styled-button{
            aspect-ratio: 1/1;
            width: 60%;
            border: none;
            border-radius: 5px;
            margin: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .delete{
            background-color: #ff0040;
            color: white;
        }
        .edit{
            background-color: #009879;
            color: white;
        }
        .add{
            background-color: rgb(2, 64, 252);
            color: white;
        }
        .styled-button:active{
            transform: scale(0.9);
        }
        .styled-input{
            min-width: 15px;
            width: 100%;
        }
        #id, #userId{
            width: 50px;
        }
        #price{
            width: 100px;
        }
        
    </style>
    
</head>
<body>
    <table class="styled-table">
        <% let keys = Object.keys(result[0]) %>
        <thead>
            <tr>
                <% keys.forEach(key => { %>
                    <th><%= key %></th>
                <% }) %>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(row => { %>
                <tr id="tr<%= row.id %>">
                    <% keys.forEach(key => { %>
                        <td key="<%= key %>"><%= row[key] %></td>
                    <% }) %>
                    <td>
                        <button class="styled-button edit" onclick="mimic(<%= row.id %>)"><i class="fi fi-rr-edit"></i></button>
                        <% if(user == row.id){ %>
                            <button class="styled-button delete" onclick="deleteById(<%= row.id %>)" disabled><i class="fi fi-rs-trash"></i></button>
                        <% }else{ %>
                            <button class="styled-button delete" onclick="deleteById(<%= row.id %>)"><i class="fi fi-rs-trash"></i></button>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
            <form action="" method="post" id="my_form" <%= crypt %>>
                <tr>
                    <% keys.forEach(key => { %>
                        <% if(key == "image"){ %>
                            <td><input class="styled-input" type="file" name="<%= key %>" id="<%= key %>" form="my_form"></td>
                        <% }else{ %>
                            <td><input class="styled-input" type="text" name="<%= key %>" id="<%= key %>" form="my_form"></td>
                        <% } %>
                    <% }) %>
                    <td>
                        <button class="styled-button add" form="my_form"><i class="fi fi-rr-add"></i></button>
                    </td>
                </tr>
            </form>
            <script>
                let table = window.location.pathname.split("/")[window.location.pathname.split("/").length - 1];
                document.getElementById("my_form").action = `/debug/add/${table}`;
            </script>
        </tbody>
    </table>
</body>
</html>