<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/PC.css">
    <link rel="stylesheet" media="(max-width: 957px)" href="css/Mobile.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Supermercado A</title>
</head>
<body onload="">
    <header>
        <div class="header-container">
            <figure class="logo_container">
                <img src="src/bossi.png" alt="">
            </figure>
            <div class="header-search-bar">
                <input type="text"><button><i class="fi fi-rs-search"></i></button>
            </div>
            <div class="header-login">
                <a href="/login"><i class="fi fi-rr-user G"></i>
                    <div>
                        Olá faça <strong>Login</strong> ou <br> se <strong> se cadastre </strong>
                    </div>
                </a>
            </div>
            <div class="header-carrinho">
                <a href="/carrinho">
                    <div>
                        <i class="fi fi-rr-shopping-cart"></i>
                    </div>
                    <div>0<br>Item</div>
                </a>
            </div>
        </div>
    </header>
    <main>
        <script>
            // Função para criar produtos e as divs das classes se necessário
            function createProduct(productName, productPrice, productImg, productClass, productId) {
                // criar div por classe
                if(document.getElementById(productClass) == null){
                    $("main").append(`
                    <div class="product-container" id="${productClass}">
                        <div class="product-text">
                            <h3>${productClass}</h3>
                            <h3>Veja Mais</h3>
                        </div>
                        <div class="scroll-effect">
                            <button onclick="scrollR('${productClass}')"><i class="fi fi-rr-angle-left"></i></button>
                            <div class="product-cards-cotainer">
                            </div>
                            <button onclick="scrollL('${productClass}')"><i class="fi fi-rr-angle-right"></i>
					</button>
                        </div>
                    </div>`
                    );
                }
                addProduct(productName, productPrice, productImg, productClass, productId);
            }
            function addProduct(productName, productPrice, productImg, productClass, productId){
                $(`#${productClass}`).children(".scroll-effect").children(".product-cards-cotainer")
                .append(`
                    <a class="product-cards" href="/product/${productId}">
                        <div class="img-container">
                            <img src="${productImg}" alt="">
                        </div>
                        <div class="product-price">
                            <p class="price">${productPrice}</p>
                            <p class="name">${productName}</p>
                        </div>
                        <button class="product-button">Adicionar</button>
                    </a>
                `)
            }
            function scrollL(father){
                $(`#${father}`)
                .children(".scroll-effect")
                .children(".product-cards-cotainer").scrollLeft($(`#${father}`)
                .children(".scroll-effect")
                .children(".product-cards-cotainer").scrollLeft() + 150);
            }
            function scrollR(father){
                $(`#${father}`)
                .children(".scroll-effect")
                .children(".product-cards-cotainer").scrollLeft($(`#${father}`)
                .children(".scroll-effect")
                .children(".product-cards-cotainer").scrollLeft() - 150);
            }
        </script>
        <!-- Renderizando os produtos -->
        <% itens.forEach(product => { %>
            <script>
                createProduct('<%= product.name %>', '<%= product.price %>', 'products/<%= product.image %>', '<%= product.section %>', '<%= product.id %>');
            </script>
        <% }); %>
    </main>
</body>
</html>