<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="info">
            <div class="who">
                <div class="img-container">
                    <img src="/src/logo.png" alt="">
                </div>
                <h1>Sobre Gautoclinic</h1>
                <p>Em dezembro de 2020, idealizado pelo Dr. Gauto, biomédico, esteticista e empresário, nascia a Gauto Clinic. O objetivo era criar um espaço acolhedor que oferecesse procedimentos estéticos para elevar a autoestima de seus pacientes. <br> <br>

                    Apesar do início modesto, em um local pequeno e simples, a clínica logo se viu diante da necessidade de crescer. A alta demanda era impulsionada pela busca por procedimentos inovadores e pela confiança na nossa equipe qualificada. <br> <br>
                    
                    Para atender à crescente demanda, a clínica expandiu sua equipe, incorporando biomédicos, esteticistas e até dentistas. Essa equipe multidisciplinar trabalha em conjunto para oferecer um atendimento personalizado e de alta qualidade. <br> <br>
                    
                    <strong> Tecnologia de ponta e resultados comprovados </strong> <br> <br>
                    
                    A Gauto Clinic segue as últimas tendências em harmonização facial e corporal, utilizando equipamentos de alta qualidade com certificação da ANVISA, garantindo a biossegurança dos pacientes. <br> <br>
                    
                    Os resultados alcançados na clínica são fruto de técnicas avançadas, conhecimento científico e constante aprimoramento profissional. A equipe da Gauto Clinic dedica-se a oferecer aos seus pacientes os melhores resultados estéticos, sempre com foco na segurança e no bem-estar. <br> <br>
                    
                    <strong>Cuidados que transcendem a clínica</strong> <br> <br>
                    
                    Acreditando que o cuidado com a beleza deve ser contínuo, a Gauto Clinic lançou sua linha de skin care. Os produtos da linha foram desenvolvidos com o objetivo de complementar os procedimentos realizados na clínica, proporcionando resultados duradouros e um cuidado completo da pele em casa. <br> <br>
                    
                    A linha de skin care da Gauto Clinic foi recebida com entusiasmo pelos pacientes, que reconhecem a importância do cuidado pós-procedimento para manter a saúde e a beleza da pele. <br> <br>
                    
                    <strong>Um convite para conhecer a Gauto Clinic</strong> <br> <br>
                    
                    A Gauto Clinic convida você a conhecer seu universo e desfrutar de uma experiência única em estética. </p>
            </div>
            <div class="info-container ">
                <div class="goal disable">
                    <h1>Nossa Meta</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="compromise disable">
                    <h1>Compromissos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="principles disable">
                    <h1>Principios</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>