<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="info">
            <div class="who">
                <div class="img-container">
                    <img src="/src/logo.png" alt="">
                </div>
                <h1>Sobre Gautoclinic</h1>
                <p>Em dezembro de 2020 iniciava um projeto idealizado pelo Dr Gauto, biomédico, esteticista e empresário, e sua intenção era ter um espaço de estética que pudesse ter alguns procedimentos para elevar a autoestima de quem ali estivesse. O local era pequeno e simples, mas existia muito amor, a necessidade de crescer foi devido à alta demanda, os pacientes queriam fazer todos os procedimentos que lançavam no mercado, mas somente se fosse ali com a equipe GAUTOCLINIC, logo veio a intenção de expandir a equipe também trazendo biomédicos, esteticista e até dentistas para o time e atendimento.<br><br>Os procedimentos seguem um padrão da mais alta tendencia de harmonização facial e corporal, utiliza-se equipamentos de alta qualidade e que possuem certificação ANVISA pois prezamos pela biossegurança de nossos pacientes. Todos os nossos resultados são baseados em técnica, ciência e muito estudo.<br><br>Foi necessário lançar um cuidado home care com intenção de nossos cuidados não serem somente na clinica e continuar em casa também, e isso trouxe proximidade com os pacientes e os profissionais. O lançamento da linha de skin care elevou a intenção do cliente realizar procedimento conosco pois ele percebe a importância do cuidado pós-procedimento.<br><br>Aproveitem para conhecer nosso mundo e disfrutar dele.</p>
            </div>
            <div class="info-container">
                <div class="goal">
                    <h1>Nossa Meta</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="compromise">
                    <h1>Compromissos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="principles">
                    <h1>Principios</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>