<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="item-container">
            <div class="item-images">
                <div class="image-list">
                    <% if(item.images[0]){%>
                        <% item.images.forEach((e)=>{%>
                            <div class="mini-image">
                                <img id="img-<%= e.id %>" class="image-sidebar" src="data:image/jpg;base64,<%= e.image %>" onmouseenter="setPrincipal(<%= e.id %>)" alt="">
                            </div>
                        <% })%>
                    <% } %>
                </div>
                <div>
                    <% if(item.images[0]){%>
                        <img id="image-principal" src="data:image/jpg;base64,<%= image[0].image %>" alt="">
                    <% } %>
                </div>
            </div>
            <div class="item-info">
                <h1 class="item-name" id="name-info"><%= item.name %></h1>
                <div class="item-rate">
                    <div class="rate">
                        <% for(let i = 0; i < 5; i++){ %>
                            <% if(i+1 > item.mRate){ %>
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" alt="">
                            <% }else{ %>
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgeDE9IjUwJSIgeDI9IjUwJSIgeTE9IjI3LjY1JSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkNFMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGRkE3MDAiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGlkPSJiIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9InVybCgjYSkiIHhsaW5rOmhyZWY9IiNiIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" alt="">
                            <% } %>
                        <% } %>
                    </div>
                    <div class="item-stock">
                        <% if(item.qtd != 0){ %>
                            <i class="fi fi-rr-check-circle instock"></i>
                            <p class="instock">Em estoque</p>
                        <% }else{ %>
                            <i class="fi fi-rr-cross-circle outstock"></i>
                            <p class="outstock">Sem estoque</p>
                        <% } %>
                    </div>
                </div>
                <div id="height-info" data-value= "<%= item.height %>"></div>
                <div id="width-info" data-value= "<%= item.width %>"></div>
                <div id="depth-info" data-value= "<%= item.depth %>"></div>
                <div id="weight-info" data-value= "<%= item.weight %>"></div>
                <div class="item-price">
                    <h1 id="price-info">R$ <%= item.precoDesconto.toFixed(2) %></h1>
                    <!-- <p>6x R$ <%= ((item.price)/6).toFixed(2) %> sem juros</p> -->
                </div>
                <% if(item.qtd != 0){ %>
                    <button class="item-buy" onclick="addLittleCar(<%= user != undefined ?  1:  0 %>)">Adicionar ao carrinho</button>
                <% }else{ %>
                    <button class="item-buy" disabled>Adicionar ao carrinho</button>
                <% } %>
                <div class="item-benefit">
                    <h1>Beneficios</h1>
                    <ul>
                    <% item.benefits.split(';').forEach((e)=>{ %>
                        <li><%= e %></li>       
                    <%}) %>
                    </ul>
                </div>
                <div class="sec-container">
                    <div class="desc-sec">
                        <button class="sec-button" onclick="select(0)" style="border-bottom: 1px solid black;">Descrição</button>
                        <button class="sec-button" onclick="select(1)">Ativos</button>
                        <button class="sec-button" onclick="select(2)">Como Usar</button>
                    </div>
                    <div class="desc-info">
                        <div class="sec-desc sec active">
                            <p><%= item.description %></p>
                            <!--<%= item.description %>-->
                        </div>
                        <div class="sec-ativos sec">
                            <ul>
                                <% item.active.split(',').forEach((e)=>{ %>
                                    <li><%= e %></li>
                                <% }) %>
                            </ul>
                            <!--<%= item.ativos %>-->
                        </div>
                        <div class="sec-user sec">
                            <p><%= item.uses %></p>
                            <!--<%= item.uses %>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-section">
            <div class="item-rating">
                <div class="avg">
                    <p><%= item.mRate.toFixed(1) %></p>
                    <div class="rate">
                        <% for(let i = 0; i < 5; i++){ %>
                            <% if(i+1 > item.mRate){ %>
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" alt="">
                            <% }else{ %>
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgeDE9IjUwJSIgeDI9IjUwJSIgeTE9IjI3LjY1JSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkNFMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGRkE3MDAiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGlkPSJiIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9InVybCgjYSkiIHhsaW5rOmhyZWY9IiNiIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" alt="">
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="appraisal-container">
                    <div class="appraisal-comment">
                        <% item.comments.forEach((data)=>{ %>
                            <div class="rate">
                                <% for(let i = 0; i < 5; i++){ %>
                                    <% if(i+1 > data.rate){ %>
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" alt="">
                                    <% }else{ %>
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgeDE9IjUwJSIgeDI9IjUwJSIgeTE9IjI3LjY1JSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkNFMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGRkE3MDAiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGlkPSJiIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9InVybCgjYSkiIHhsaW5rOmhyZWY9IiNiIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" alt="">
                                    <% } %>
                                <% } %>
                            </div>
                                <p class="comment"><%= data.comment %></p>
                                <p class="comment-user">Por <%= data.name %></p>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        // quando o mouse passar em cima de uma classe image-sidebar pegar a imagem e colocar na image-principal
        function setPrincipal(e){
            let img = document.getElementById(`img-${e}`);
            let imgPrincipal = document.getElementById("image-principal");
            imgPrincipal.src = img.src;
        }
        function select(sec){
            let div = document.getElementsByClassName("sec");
            let secbutton = document.getElementsByClassName("sec-button");
            for(let i = 0; i < div.length; i++){
                div[i].style.display = "none";
                secbutton[i].style.border = "0";
            }
            div[sec].style.display = "unset";
            secbutton[sec].style.borderBottom = "1px solid black";
        }
    </script>
    <%- include ("partials/footer.ejs") %>
</body>
</html>