<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="consulta-form">
            <form method="post" action="/consulta/add">
                <h2>AGENDAR CONSULTA</h2>
                <!-- <div class="consulta-campo">
                    <label class="subline outline" for="nascimento">DATA DE NASCIMENTO</label>
                    <input type="date" name="nascimento" id="nascimento" placeholder="nascimento">
                </div> -->
                <div class="consulta-campo">
                    <label class="subline outline" for="data">DATA E HORARIO</label>
                    <div>
                        <input type="date" name="data" id="data" oninput="validaData()" placeholder="data" >
                        <input type="time" name="time" id="time" oninput="validaHora()" placeholder="time" value="08:00">
                    </div>
                </div>
                <div class="consulta-campo"> 
                    <label class="subline outline">PROCEDIMENTO</label>
                    <div class="subcampo-consulta">
                        <select name="procedimentos" id="procedimentos" value="procedimentos">
                    <% procedimentos.forEach((e)=>{ %>
                            <option value="<%= e.idProcedimentos %>"> <%= e.nome %></option>                        
                    <% }) %>
                        </select>
                    </div>
                </div>
                <div class="consulta-campo">
                    <label class="subline outline">FUNCIONARIO</label>
                    <select name="funcionario" id="funcionario">
                        <% funcionarios.forEach((e)=>{ %>
                            <option value="<%= e.idFuncionario %>"><%= e.Nome %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="consulta-campo">
                    <p class="aviso">Atente-se com sua data e horário, em caso de cancelamento ou não comparecimento não devolvemos o valor de agendamento. Apenas remarcamos somente 1 vez dentro do mesmo mês. Assim que o valor do agendamento for pago e considerado que você ja iniciou o processo e protocolo do procedimento, sendo assim você não terá o direito de reembolso de qualquer valor pago antes. </p>
                    <div>
                        <input type="checkbox" name="aviso"><label for="aviso">Li e concordo</label>
                    </div>
                </div>
                <p id="alerts"></p>
                <input type="submit" id="Agendar" value="Agendar">
            </form>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
<script>
    document.getElementById('data').valueAsDate = new Date();

    function validaData(){
        var date = document.getElementById("data").value;
        var idFuncionario = document.getElementById("funcionario").value;
        alerts.innerHTML = "";
        agendamentos.forEach(agend => {
            if (date.value === agend.dataAgendamento && agend.idFuncionario === idFuncionario.value){
                validaHora();
            }
            
        });
    }

    function validaHora(){
        var alerts = document.getElementById('alerts');
        var time = document.getElementById("time").value;
        var idFuncionario = document.getElementById("funcionario").value;
        var timeMin = new Date();
        timeMin.setHours(8);
        var timeMax = new Date();
        timeMax.setHours(18);
        if(time.value <= timeMax.getHours() && time.value >= timeMin.getHours()){
            agendamentos.forEach(agend => {
                if (time.value === agend.horaAgendamento && agend.idFuncionario === idFuncionario.value){
                    alerts.innerHTML = "Não é possivel agendar neste horário com este funcionário ";
                    document.getElementById('Agendar').disabled = true;
                }else{
                    alerts.innerHTML = ""
                    document.getElementById('Agendar').disabled = false;
                }
            });
        }else{
            alerts.innerHTML = "Por favor selecione uma horário entre 08AM e 18PM"
            document.getElementById('Agendar').disabled = true;
        }
    }
    </script>
</html>