<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="consulta-form">
            <form method="post" action="/consulta/add">
                <h2>AGENDAR CONSULTA</h2>
                <!-- <div class="consulta-campo">
                    <label class="subline outline" for="nascimento">DATA DE NASCIMENTO</label>
                    <input type="date" name="nascimento" id="nascimento" placeholder="nascimento">
                </div> -->
                <div class="consulta-campo" id="standard_calendar">
                    <label class="subline outline" for="data">Data e Horario</label>
                    <div class="subcampo-consulta calendar">
                        <% let diaSeguinte = new Date(); diaSeguinte.setDate(diaSeguinte.getDate() + 1);%>
                        <input type="date" name="data" id="data" placeholder="Date/Time" min = "<%= diaSeguinte.getFullYear() +"-"+(diaSeguinte.getMonth()+1).toString().padStart(2,'0')+"-"+diaSeguinte.getDate().toString().padStart(2,'0') %>" value ="<%= diaSeguinte.getFullYear() +"-"+(diaSeguinte.getMonth()+1).toString().padStart(2,'0')+"-"+diaSeguinte.getDate().toString().padStart(2,'0') %>">
                        <select name="time" id="time" value="time">
                            <% let minuto = 0; for(var hora = 8; hora <= 18; hora++){ minuto = 0;  %><% for(var quartoHora = 1; quartoHora <= 4; quartoHora++){%><option value="<%= hora.toString().padStart(2,'0')+":"+minuto.toString().padEnd(2,'0') %>"> <%= hora+":"+minuto.toString().padEnd(2,'0') %></option><% minuto += 15; if (hora=== 18) {break;} }%><% }%>                    
                        </select>
                    </div>
                </div>
                <div class="consulta-campo"> 
                    <label class="subline outline">Procedimento</label>
                    <div class="subcampo-consulta">
                        <select name="procedimentos" id="procedimentos" value="procedimentos">
                    <% procedimentos.forEach((e)=>{ %>
                            <option value="<%= e.idProcedimentos %>"> <%= e.nome %></option>                        
                    <% }) %>
                        </select>
                    </div>
                </div>
                <div class="consulta-campo">
                    <label class="subline outline">Realizado por</label>
                    <p> Equipe Gautoclinic </p>
                    <!--//<select name="funcionario" id="funcionario" onclick="size=(size!=1)?1:n;">
                        <p> Equipe Gautoclinic </p>
                        // <% funcionarios.forEach((e)=>{ %>
                        //     <option value="<%= e.idFuncionario %>"><%= e.Nome %></option>
                        // <% }) %>
                    </select>-->
                </div>
                <div class="consulta-campo">
                    <p class="aviso">Atente-se com sua data e horário. Em caso de cancelamento com menos de 24 horas ou não comparecimento, o valor de agendamento não será reembolsado. Você tem direito a somente um reagendamento no período de 30 dias. Uma vez que que o valor do agendamento foi pago, considera-se que o protocolo do procedimento já está em andamento, sendo assim, não há direito a reembolso de qualquer natureza. O procedimento será realizado por um profissional da equipe GAUTOCLINIC.</p>
                    <div>
                        <input type="checkbox" name="aviso" id="aviso"><label for="aviso">Li e concordo</label>
                    </div>
                </div>
                <p id="alerts"></p>
                <input type="submit" class="summary-box-button" id="Agendar" value="Agendar">
            </form>
        </div>
    </main>
    <script>
    </script>
    <%- include ("partials/footer.ejs") %>
</body>
</html>