<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="consulta-form">
            <form method="post" action="/consulta/add">
                <h2>AGENDAR CONSULTA</h2>
                <!-- <div class="consulta-campo">
                    <label class="subline outline" for="nascimento">DATA DE NASCIMENTO</label>
                    <input type="date" name="nascimento" id="nascimento" placeholder="nascimento">
                </div> -->
                <div class="consulta-campo">
                    <label class="subline outline" for="data">Data e Horario</label>
                    <div class="subcampo-consulta">
                        <% let diaSeguinte = new Date(); diaSeguinte.setDate(diaSeguinte.getDate() + 1);%>
                        <input type="date" name="data" id="data" oninput="validaData()" placeholder="data" min = "<%= diaSeguinte.getFullYear() +"-"+(diaSeguinte.getMonth()+1).toString().padStart(2,'0')+"-"+diaSeguinte.getDate().toString().padStart(2,'0') %>" >
                        <select name="time" id="time" value="time" onchange ="validaHora()">
                            <% let minuto = 0; for(var hora = 8; hora <= 18; hora++){ minuto = 0;  %><% for(var quartoHora = 1; quartoHora <= 4; quartoHora++){%><option value="<%= hora.toString().padStart(2,'0')+":"+minuto.toString().padEnd(2,'0') %>"> <%= hora+":"+minuto.toString().padEnd(2,'0') %></option><% minuto += 15; if (hora=== 18) {break;} }%><% }%>                    
                        </select>
                    </div>
                </div>
                <div class="consulta-campo"> 
                    <label class="subline outline">Procedimento</label>
                    <div class="subcampo-consulta">
                        <select name="procedimentos" id="procedimentos" value="procedimentos">
                    <% procedimentos.forEach((e)=>{ %>
                            <option value="<%= e.idProcedimentos %>"> <%= e.nome %></option>                        
                    <% }) %>
                        </select>
                    </div>
                </div>
                <div class="consulta-campo">
                    <label class="subline outline">Realizado por</label>
                    <p> Equipe Gautoclinic </p>
                    <!--//<select name="funcionario" id="funcionario" onclick="size=(size!=1)?1:n;">
                        <p> Equipe Gautoclinic </p>
                        // <% funcionarios.forEach((e)=>{ %>
                        //     <option value="<%= e.idFuncionario %>"><%= e.Nome %></option>
                        // <% }) %>
                    </select>-->
                </div>
                <div class="consulta-campo">
                    <p class="aviso">Atente-se com sua data e horário. Em caso de cancelamento com menos de 24 horas ou não comparecimento, o valor de agendamento não será reembolsado. Você tem direito a somente um reagendamento no período de 30 dias. Uma vez que que o valor do agendamento foi pago, considera-se que o protocolo do procedimento já está em andamento, sendo assim, não há direito a reembolso de qualquer natureza. O procedimento será realizado por um profissional da equipe GAUTOCLINIC.</p>
                    <div>
                        <input type="checkbox" name="aviso" id="aviso"><label for="aviso">Li e concordo</label>
                    </div>
                </div>
                <p id="alerts"></p>
                <input type="submit" class="summary-box-button" id="Agendar" value="Agendar">
            </form>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
<script>
    let diaSeguinte = new Date();
    document.getElementById('data').valueAsDate = new Date(diaSeguinte.setDate(diaSeguinte.getDate() + 1));

    function validaData(){
        let agendamentos = <%- agendamentos %>;
        var date = document.getElementById("data").value;
        // var idFuncionario = document.getElementById("funcionario").value;
        alerts.innerHTML = "";
        agendamentos.forEach(agend => {
            let testeDate = new Date(agend.dataAgendamento)
            let dateDate = testeDate.getFullYear() +"-"+(testeDate.getMonth()+1).toString().padStart(2, '0')+"-"+testeDate.getDate();
            if (date === dateDate){
                validaHora();
            }
            
        });
    }

    function validaHora(){
        var alerts = document.getElementById('alerts');
        var time = new Date(document.getElementById("data").value);
        time.setHours(document.getElementById("time").value.substring(0,2));
        time.setMinutes(document.getElementById("time").value.substring(3,5));
        console.log(time);
        var timeMin = new Date();
        timeMin.setHours(8);
        var timeMax = new Date();
        timeMax.setHours(18);
        let agendamentos = <%- agendamentos %>;
        if(time.getHours() <= timeMax.getHours() && time.getHours() >= timeMin.getHours()){
            for(let agend in agendamentos){
                console.log(agendamentos[agend]);
                let dateAgend = new Date(`${agendamentos[agend].dataAgendamento.split('T')[0]}T${agendamentos[agend].horaAgendamento}`);
                console.log(`${agendamentos[agend].dataAgendamento.split('T')[0]}T${agendamentos[agend].horaAgendamento}`);
                const diffTime = Math.abs(time - dateAgend);
                const diffMinutes= Math.ceil(diffTime / (1000 * 60));
                if (diffMinutes <= 45){
                    alerts.innerHTML = "Este horário já está reservado. Por favor, selecione outro horário disponível.";
                    document.getElementById('Agendar').disabled = true;
                    break;
                }else{
                    alerts.innerHTML = ""
                    document.getElementById('Agendar').disabled = false;
                }
            };
        }else{
            alerts.innerHTML = "Por favor selecione uma horário entre 08AM e 18PM"
            document.getElementById('Agendar').disabled = true;
        }
    }
    
    </script>
</html>