<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="consulta-form">
            <form method="post" action="/consulta/add">
                <h2>MARCAR CONSULTA</h2>
                <div class="consulta-campo">
                    <label class="subline outline" for="nascimento">DATA DE NASCIMENTO</label>
                    <input type="date" name="nascimento" id="nascimento" placeholder="nascimento">
                </div>
                <div class="consulta-campo">
                    <label class="subline outline" for="data">DATA E HORARIO</label>
                    <div>
                        <input type="date" name="data" id="data" oninput="validaData()" placeholder="data">
                        <input type="time" name="time" id="time" oninput="validaHora()" placeholder="time">
                    </div>
                </div>
                <fieldset class="consulta-campo"> 
                    <label class="subline outline">PROCEDIMENTO</label>
                    <% procedimentos.forEach((e)=>{ %>
                        <div class="subcampo-consulta">
                            <input type="checkbox" name="procedimentos" id="<%= e.nome %>" value="<%= e.idProcedimentos %>">
                            <label for="procedimentos"><%= e.nome.replace('-', ' ') %></label>
                        </div>
                    <% }) %>
                </fieldset>
                <div class="consulta-campo">
                    <label class="subline outline">FUNCIONARIO</label>
                    <select name="funcionario" id="funcionario">
                        <% funcionarios.forEach((e)=>{ %>
                            <option value="<%= e.idFuncionario %>"><%= e.Nome %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="consulta-campo">
                    <p class="aviso">Atente-se com sua data e horário, em caso de cancelamento ou não comparecimento não devolvemos o valor de agendamento. Apenas remarcamos somente 1 vez dentro do mesmo mês. Assim que o valor do agendamento for pago e considerado que você ja iniciou o processo e protocolo do procedimento, sendo assim você não terá o direito de reembolso de qualquer valor pago antes. </p>
                    <div>
                        <input type="checkbox" name="aviso"><label for="aviso">Li e concordo</label>
                    </div>
                </div>
                <p id="alerts"></p>
                <input type="submit" id="Marcar" value="Marcar">
            </form>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
<script>
    function validaData(){
        var date = document.getElementById("date").value;
        var idFuncionario = document.getElementById("funcionario").value;
        alerts.innerHTML = "";
        agendamentos.forEach(agend => {
            if (date.value === agend.dataAgendamento && agend.idFuncionario === idFuncionario.value){
                validaHora();
            }
            
        });
    }

    function validaHora(){
        var alerts = document.getElementById('alerts');
        var time = document.getElementById("time").value;
        var idFuncionario = document.getElementById("funcionario").value;
        agendamentos.forEach(agend => {
        if (time.value === agend.horaAgendamento && agend.idFuncionario === idFuncionario.value){
            alerts.innerHTML = "Não é possivel marcar neste horário com este funcionário ";
            document.getElementById('Marcar').disabled = true;
        }else{
            alerts.innerHTML = ""
            document.getElementById('Marcar').disabled = false;
        }
    });
    }
    </script>
</html>