<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <script>
        function unlockOptions(alvo, ini){
            ini[0].addEventListener('click',()=>{                            
                alvo.disabled = true;
            });
            ini[1].addEventListener('click',()=>{                            
                alvo.disabled = false;
            });
        }
    </script>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="consulta-form">
            <form method="post" action="/consulta/add">
                <h2>AGENDAR CONSULTA</h2>
                <!-- <div class="consulta-campo">
                    <label class="subline outline" for="nascimento">DATA DE NASCIMENTO</label>
                    <input type="date" name="nascimento" id="nascimento" placeholder="nascimento">
                </div> -->
                <div class="consulta-campo" id="standard_calendar">
                    <label class="subline outline" for="data">Data e Horario</label>
                    <div class="subcampo-consulta calendar">
                        <% let diaSeguinte = new Date(); diaSeguinte.setDate(diaSeguinte.getDate() + 1);%>
                        <input type="date" name="data" id="data" placeholder="Date/Time" min = "<%= diaSeguinte.getFullYear() +"-"+(diaSeguinte.getMonth()+1).toString().padStart(2,'0')+"-"+diaSeguinte.getDate().toString().padStart(2,'0') %>" value ="<%= diaSeguinte.getFullYear() +"-"+(diaSeguinte.getMonth()+1).toString().padStart(2,'0')+"-"+diaSeguinte.getDate().toString().padStart(2,'0') %>">
                        <select name="time" id="time" value="time">
                            <% let minuto = 0; for(var hora = 8; hora <= 18; hora++){ minuto = 0;  %><% for(var quartoHora = 1; quartoHora <= 4; quartoHora++){%><option value="<%= hora.toString().padStart(2,'0')+":"+minuto.toString().padEnd(2,'0') %>"> <%= hora+":"+minuto.toString().padEnd(2,'0') %></option><% minuto += 15; if (hora=== 18) {break;} }%><% }%>                    
                        </select>
                    </div>
                </div>
                <div class="consulta-campo"> 
                    <label class="subline outline">Procedimento</label>
                    <div class="subcampo-consulta">
                        <select name="procedimentos" id="procedimentos" value="procedimentos">
                    <% procedimentos.forEach((e)=>{ %>
                            <option value="<%= e.idProcedimentos %>"> <%= e.nome %></option>                        
                    <% }) %>
                        </select>
                    </div>
                </div>
                <div class="consulta-campo">
                    <label class="subline outline">Realizado por</label>
                    <p> Equipe Gautoclinic </p>
                    <!--//<select name="funcionario" id="funcionario" onclick="size=(size!=1)?1:n;">
                        <p> Equipe Gautoclinic </p>
                        // <% funcionarios.forEach((e)=>{ %>
                        //     <option value="<%= e.idFuncionario %>"><%= e.Nome %></option>
                        // <% }) %>
                    </select>-->
                </div>
                <% if(user.forms.firstTime){ %>
                    <div class="consulta-campo">
                        <% for(let keys in Object.keys(user.forms.historico)){ %>
                            <label class="subline outline"><%= user.forms.historico[Object.keys(user.forms.historico)[keys]].nome %></label>
                            <div class="">
                                <input type="radio" name="historico-<%= Object.keys(user.forms.historico)[keys] %>" value="false" checked="checked">Não
                                <input type="radio" name="historico-<%= Object.keys(user.forms.historico)[keys] %>" value="true">Sim
                            </div>
                            <% if(Object.keys(user.forms.historico)[keys] == "diabetesGrau"){ %>
                                <select class="historico-diabetesGrauValue" name="historico-diabetesGrau" id="" placeholder="Insira aqui a patalogia" disabled>
                                    <option value="Tipo 1" selected>Tipo 1</option>
                                    <option value="Tipo 1">Tipo 2</option>
                                    <option value="Tipo 1">Tipo Gestacional</option>
                                    <option value="Tipo 1">Tipo Infantil</option>
                                </select>
                            <% }else if(Object.keys(user.forms.historico)[keys] == "outraPatologia"){ %>
                                <input type="text" class="historico-outraPatologiaValue" name="historico-outraPatologia" placeholder="Insira aqui a patalogia">
                            <% } %>
                            <script>
                                unlockOptions(document.getElementsByClassName("historico-<%= Object.keys(user.forms.historico)[keys] %>Value")[0], document.getElementsByName('historico-<%= Object.keys(user.forms.historico)[keys] %>'));
                            </script>
                        <% } %>
                    </div>
                <% } %>
                <div class="consulta-campo">
                    <p class="aviso">Atente-se com sua data e horário. Em caso de cancelamento com menos de 24 horas ou não comparecimento, o valor de agendamento não será reembolsado. Você tem direito a somente um reagendamento no período de 30 dias. Uma vez que que o valor do agendamento foi pago, considera-se que o protocolo do procedimento já está em andamento, sendo assim, não há direito a reembolso de qualquer natureza. O procedimento será realizado por um profissional da equipe GAUTOCLINIC.</p>
                    <div>
                        <input type="checkbox" name="aviso" id="aviso"><label for="aviso">Li e concordo</label>
                    </div>
                </div>
                <p id="alerts"></p>
                <input type="submit" class="summary-box-button" id="Agendar" value="Agendar">
            </form>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>