<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="profile-container">
            <div class="navlist">
                <ul>
                    <li><a href="/profile/account">Minha conta</a></li>
                    <li><a href="/profile/orders">Meus pedidos</a></li>
                    <li><a href="/profile/edit">Editar conta</a></li>
                    <% if(user.hasAdmin){ %>
                        <li><a href="/admin/users">Administrador</a></li>
                    <% } %>
                </ul>
            </div>
            <div class="account-info">
                <h1>Minha conta</h1>
                <form action="/profile/edit" method="post">
                    <h2>Meus pedidos</h2>
                    <div class="account-container table">
                        <table>
                            <tr>
                                <th class="mob-only">Id</th>
                                <th>Data</th>
                                <th>Preço</th>
                                <th class="mob-only">Status</th>
                                <th class="mob-only">Detalhes</th>
                            </tr>
                            <% orders.forEach((order)=>{ %>
                                <tr>
                                    <td class="mob-only"><%= order.check_ref.slice(0,10) %></td>
                                    <td><%= order.date.toLocaleDateString() %></td>
                                    <td>R$ <%= order.price %></td>
                                    <td class="mob-only"><%= order.status %></td>
                                    <td class="mob-only"><a href="/profile/orders/<%= order.check_ref.slice(0,10) %>"><i class="fi fi-rr-search"></i></a></td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>