<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="profile-container">
            <div class="navlist">
                <ul>
                    <li><a href="/profile/account">Minha conta</a></li>
                    <li><a href="/profile/orders">Meus pedidos</a></li>
                    <li><a href="/profile/edit">Editar conta</a></li>
                    <% if(user.hasAdmin){ %>
                        <li><a href="/admin/users">Administrador</a></li>
                    <% } %>
                </ul>
            </div>
            <div class="account-info">
                <h1>Minha conta</h1>
                <div class="info-contaner">

                    <h2>Meu pedido</h2>
                    <p><%= orders[0].date.toLocaleDateString() %> | Pedido n° <%= orders[0].check_ref.slice(0,10) %></p>
                    <div class="account-container single">
                        <div class="information">
                            <div>
                                <label for="end">Endereço de envio</label>
                                <p><%= user.city %>, <%= user.cep %></p>
                            </div>
                            <div>
                                <label for="status">Status do pedido</label>
                                <p><%= orders[0].status %></p>
                            </div>
                            <div>
                                <label for="total">Total do pedido</label>
                                <p>R$ <%= orders[0].price %></p>
                            </div>
                        </div>
                        <div class="destinatario">
                            <label for="">Destinatario</label>
                            <p><%= user.name %> <%= user.lastname %></p>
                            <p><%= user.tel %></p>
                            <p><%= user.cpf %></p>
                        </div>
                        <div class="button-container">
                            <% if(orders[0].status == "Aprovado" || orders[0].status == "Entregue"){ %>
                                <input class="button"   type="submit" value="Cancelar Pedido" form="myform" >
                            <% } %>
                        </div>
                        <% if(orders[0].shipping){ %>
                            <div class="account-container table">
                                <table>
                                    <tr>
                                        <% if(orders[0].status == "Aprovado" || orders[0].status == "Entregue"){ %>
                                            <th class="mob-only">comentario</th>
                                        <% } %>
                                        <th class="mob-only">Produto</th>
                                        <% if(orders[0].status == "Aprovado" || orders[0].status == "Entregue"){ %>
                                            <th>Quantidade</th>
                                            <% }else{ %>
                                            <th class="mob-only">Quantidade</th>
                                        <% } %>
                                        <th class="mob-only">Preço</th>
                                    </tr>
                                    <% orders[0].shipping.forEach((e)=>{ %>
                                        <tr>
                                            <% if(orders[0].status == "Aprovado" || orders[0].status == "Entregue"){ %>
                                            <td class="mob-only"><a class="button" href="/profile/comments/<%= orders[0].check_ref.slice(0,10) %>/<%= e.id %>">Avaliação</a></td>
                                            <% } %>
                                            <td class="mob-only"><%= e.name %></td>
                                            <% if(orders[0].status == "Aprovado" || orders[0].status == "Entregue"){ %>
                                                <td><%= e.qtd %>x</td>
                                                <% }else{ %>
                                                <td class="mob-only"><%= e.qtd %>x</td>
                                            <% } %>
                                            <td class="mob-only">R$ <%= e.price.toFixed(2) %></td>
                                        </tr>
                                    <% }) %>
                                        <tr>
                                            <td class="total mob-only desktop" colspan="3">Total</td>
                                            <td class="total mob-only mobile" colspan="2">Total</td>
                                            <td class="total mob-only">R$ <%= orders[0].price.toFixed(2) %></td>
                                        </tr>
                                </table>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <form action="/profile/refund" method="post" style="display: none;" id="myform"><input type="text" name="check_ref" id="" value="<%= orders[0].check_ref.slice(0,10) %>"></form>
        <%- include ("partials/footer.ejs") %>
    </body>
    </html>