<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/header_logged.ejs") %>
    <main>
        <div class="product-container pag">
            <div class="dados-cad">
                <p class="tittle"> Dados cadastrais</p>
                <div class="basic-form">
                    <label for="nome">Nome completo</label><br>
                    <input type="text" name="nome" placeholder="Digite seu nome completo" value="<%= user.name %>">
                </div>
                <div class="basic-form">
                    <label for="email">E-mail</label><br>
                    <input type="text" name="email" placeholder="Digite seu melhor E-mail" value="<%= user.email %>">
                </div>
                <div class="half-form">
                    <div class="basic-form">
                        <label for="tel">Celular</label><br>
                        <input type="tel" name="tel" placeholder="(00)00000-0000" value="<%= user.tel %>">
                    </div>
                    <div class="basic-form">
                        <label for="cpf">CPF/CNPJ</label><br>
                        <input type="text" name="cpf" placeholder="xxx.xxx.xxx-xx" value="<%= user.cpf %>">
                    </div>
                </div>
            </div>
            <div class="dados-cad">
                <p class="tittle"> Selecionar Pagamento</p>
                <div class="basic-form">
                    <label for="nome">Número do cartão</label><br>
                    <input type="text" name="nome" placeholder="Digite o numero do cartão">
                </div>
                <div class="basic-form">
                    <label for="email">Seu nome impresso no cartão</label><br>
                    <input type="text" name="email" placeholder="Digite o nome do titular">
                </div>
                <div class="half-form">
                    <div class="basic-form">
                        <label for="tel">Validade</label><br>
                        <input type="tel" name="tel" placeholder="MM/AA">
                    </div>
                    <div class="basic-form">
                        <div>
                            <label for="cod">CVV</label><br>
                            <input type="text" name="cod">
                        </div>
                    </div>
                </div>
                <div class="basic-form">
                    <label for="parcela">Parcelamento</label><br>
                    <select name="parcela" id="parcela">
                        
                    </select><br>
                    <button>Finalizar pagamento</button>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
    <script>
        item = getItem();
        let itemArr = [];

        console.log(item);

        itemArr = item.map((element) => element.id);

        try{
            axios.post('/carrinho', {itemArr}).then((x)=>{
                console.log(x.data);
                let total = 0;
                x.data.forEach(x => {
                    i = item.find((element) => element.id == x.id).qtd;;
                    total += x.price * i;
                });
                for(let i = 0; i < 12; i++){
                    $("#parcela").append(`<option value="${i+1}">${i+1}x de R$ ${(((total*(1+(i*0.016)))/(i+1))).toFixed(2)} ${((i*0.016)*100).toFixed(1)}% de juros</option>`);
                }
            });
        }catch(err){
            console.log(err);
        }



        async function returnItens(json){
            let itens = await axios.post('/carrihno', {json});
            console.log(itens);
            return itens;
        }
    </script>
</body>
</html>