<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="product-container product-only">
            <div class="product-main">
                <div class="product-img">
                    <img src="/products/<%= itens.image %>" alt="Foto do Produto" class="product-img-img" id="img-info">
                </div>
                <p id="sec-info" hidden><%= itens.section %></p>
                <div id="info-container">
                    <h1 id="name-info"><%= itens.name %></h1>
                    <div class="product-rating">
                        <p>5.0</p><div>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                        </div>
                    </div>
                    <hr>
                    <div class="price">
                        <p id="preco-info" class="price-only">R$ <%= itens.price.split(",")[0] %></p>
                        <p id="preco-info" class="price-only price-cents"><%= itens.price.split(",")[1] %></p>
                    </div>
                    <div class="description">
                        <p>
                            <%= itens.description %>
                        </p>
                    </div>
                </div>
            </div>
            <div id="summary" class="summary-product">
                <div class="summary-box product-only-sum">
                    <div>
                        <div class="price">
                            <p id="preco-info" class="price-only">R$ <%= itens.price.split(",")[0] %></p>
                            <p id="preco-info" class="price-only price-cents"><%= itens.price.split(",")[1] %></p>
                        </div>
                        <p class="user-end"><i class="fi fi-rr-marker"></i> user.endereco </p>
                    </div>
                    <button class="product-info-button product-button" onclick="addLittleCar()">Adicionar ao carrinho</button>
                </div>
            </div>
        </div>
    </main>
    <script>
        
    </script>
    <%- include ("partials/footer.ejs") %>
</body>
</html>