<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/header_logged.ejs") %>
    <main>
        <div class="profile-container">
            <div class="profile-main">
                <div class="profile-img">
                    <i class="fi fi-rr-user user-profile"></i>
                </div>
                <div class="profile-info">
                    <h1 class="profile-info-name"><%= user.name %></h1>
                    <p class="profile-info-cpf"><%= user.cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4") %></p>
                    <p class="profile-info-email"><%= user.email %></p>
                    <p class="profile-info-tel"><%= user.tel.replace(/^\(?([0-9]{2})\)?([0-9]{4,5})\-?([0-9]{4})$/mg, `($1)$2-$3`) %></p>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>