<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="info">
            <div class="who">
                <div class="img-container">
                    <img src="/src/logo.png" alt="">
                </div>
                <h1>Política de Trocas e Devoluções</h1>
                <p>Você, usuário, ao realizar uma compra no site, tem o prazo de 7 (sete) dias, a contar do recebimento do produto, para desistir de sua compra. Nesse caso, desde que o produto esteja intacto e sem quaisquer indícios de uso</p>
                <ul>
                    <li>
                        <p>Você deverá enviar o produto para a caixa postal: AV SALGADO FILHO, 2120 - LOJA 17 - cep 07115000, Guarulhos - SP</p>
                    </li>
                    <li>
                        <p>O produto deverá estar na embalagem original sem indícios de uso e sem violação do lacre original;</p>
                    </li>
                    <li>
                        <p>A troca ou reembolso serão feitos após recebimento da devolução do produto e da averiguação da integridade do lacre da embalagem do produto;</p>
                    </li>
                    <li>
                        <p>Os custos de transporte para devoluções por arrependimento de compra são de responsabilidade da GAUTOCLINIC.</p>
                    </li>
                </ul>

                <p>Todos os produtos recebidos serão submetidos a uma avaliação, com o objetivo de averiguar se a devolução preenche os requisitos estipulados nesta Política de Trocas e Devoluções e na legislação de proteção ao consumidor. Desde que o produto devolvido preencha os requisitos aqui estipulados, você será, no caso de devoluções, reembolsado .</p>
            </div>
            <div class="info-container ">
                <div class="goal disable">
                    <h1>Nossa Meta</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="compromise disable">
                    <h1>Compromissos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="principles disable">
                    <h1>Principios</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>