<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/header.ejs") %>
    <main>
        <script src="/script/script.js"></script>
        <!-- Renderizando os produtos -->
        <% itens.forEach(product => { %>
            <script>
                createProductOnly('<%= product.name %>', '<%= product.price %>', 'products/<%= product.image %>', '<%= product.section %>', '<%= product.id %>');
            </script>
        <% }); %>
    </main>
</body>
</html>