<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/header_logged.ejs") %>
    <main>
        <!-- Renderizando os produtos -->
        <% itens.forEach(product => { %>
            <script>
                createProduct('<%= product.name %>', '<%= product.price %>', 'products/<%= product.image %>', '<%= product.section %>', '<%= product.id %>', true);
            </script>
        <% }); %>
    </main>
</body>
</html>