<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
<main>
    <div class="job-container">
        <div class="job-options">
            <div class="job-card" onclick="filter(1)">
                <h2>Job completed</h2>
                <h2><%= data.map(e => {if(e.status == "COMPLETO"){return e}}).filter((i)=>{return typeof i == "object"}).length %></h2>
            </div>
            <div class="job-card" onclick="filter(2)">
                <h2>Job Applied</h2>
                <h2><%= data.map(e => {if(e.status == "ACEITO"){return e}}).filter((i)=>{return typeof i == "object"}).length %></h2>
            </div>
            <div class="job-card" onclick="filter(3)">
                <h2>Job Offers</h2> 
                <h2><%= data.map(e => {if(e.status == "PAGO"){return e}}).filter((i)=>{return typeof i == "object"}).length %></h2>
            </div>
            <div class="job-card" onclick="filter(4)">
                <h2>All Jobs</h2> 
                <h2><%= data.map(e => {if(e.status != ""){return e}}).filter((i)=>{return typeof i == "object"}).length %></h2>
            </div>
        </div>
        <div class="job-list">
            <% data.forEach(item => { %>
                <a href="/consulta/orders/<%= item.check_ref %>" class="job-card item-<%= item.status %>">
                    <h3><%= item.idProcedimento[0] %></h3>
                    <p class="subline">Cliente: <%= item.idUser %></p>
                    <p><%= item.dataHoraAgendamento.toLocaleDateString("pt-BR",{timeZone: 'America/Sao_Paulo',year: 'numeric',month: 'numeric',day: 'numeric',hour: 'numeric',minute: 'numeric',second: 'numeric',}).replace(', ',' - ') %></p>
                    <div>
                        <p>Valor: R$ <%= item.price %></p>
                        <p class="<%= item.status %>"><%= item.status %></p>
                    </div>
                </a>
            <% }) %>
        </div>
        <script>
            function filter(type){
                let types = {
                    1: document.querySelectorAll('.item-COMPLETO'),
                    2: document.querySelectorAll('.item-ACEITO'),
                    3: document.querySelectorAll('.item-PAGO'),
                    4: document.querySelectorAll('a.job-card')
                }
                console.log(types[type])
                for (let key in types){
                    types[key].forEach(item => {
                        item.style.display = 'none'
                    })
                }
                types[type].forEach(item => {
                    item.style.display = 'block'
                })
            }
        </script>
    </div>
</main>
<%- include ("partials/footer.ejs") %>
</body>
</html>