<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <%- include ("partials/banner.ejs") %>
        <div class="itens">
            <a class="item" href="/produtos/facial">
                <img src="/src/produtos faciais.jpg" alt="">
                <p>Produtos Faciais</p>
            </a>
            <a class="item" href="/marcar">
                <img src="/src/consulta img.jpg" alt="">
                <p>Agende sua consulta</p>
            </a>
            <a class="item disable" href="/produtos" >
                <img src="/src/cursos.png" alt="">
                <p>Cursos</p>
            </a>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>