<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <title>Gauto Clinic</title>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="itens">
            <% itens.forEach((item)=>{ %>
                <a class="product" href="/item/<%= item.id %>">
                    <div class="image">
                        <img src="data:image/jpg;base64,<%= item.images[0].image %>" alt="">
                    </div>
                    <p class="description"><%= item.name %></p>
                    <div class="rate">
                        <% for(let i = 0; i < 5; i++){ %>
                            <% if(i+1 > item.mRate){ %>
                                    <img src="/src/estrela vazia.png" alt="">
                                <% }else{ %>
                                    <img src="/src/estrela.png" alt="">
                            <% } %>
                        <% } %>
                    </div>
                    <p class="price descount">R$ <%= item.price.toFixed(2) %> </p>
                    <p class="price">R$ <%= (item.price - (item.price * (item.descount/100))).toFixed(2) %> Em promoção</p>
                    <div class="buy">
                        <button class="buy-button">Comprar</button>
                    </div>
                </a>
            <% }) %>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>