<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <%- include ("partials/alert.ejs") %>
    <main>
        <div class="info">
            <div class="who">
                <div class="img-container">
                    <img src="/src/logo.png" alt="">
                </div>
                <h1>Política de Envios, Prazos e Reenvios</h1>
                <Strong>Envios e Prazos de Entrega:</Strong>
                <ul>
                    <li><p>Todos os pedidos serão processados e enviados dentro de 3 dias úteis após a confirmação do pagamento.</p></li>
                    <li><p>O prazo de entrega pode variar de acordo com a região do destinatário e o tipo de frete selecionado no momento da compra.</p></li>
                    <li><p>Os prazos de entrega são estimados e fornecidos pelos serviços de transporte. Gautoclinic não se responsabiliza por eventuais atrasos causados por problemas logísticos das transportadoras.</p></li>
                    <li><p>Em caso de feriados ou eventos que possam interferir na logística de entrega, os prazos poderão ser estendidos, sendo informados previamente aos clientes.</p></li>
                </ul>
                <strong>Acompanhamento de Pedido:</strong>
                <ul>
                    <li><p>Após o envio do pedido, você receberá um e-mail com o código de rastreamento para acompanhar a entrega.</p></li>
                    <li><p>Em caso de dúvidas sobre o status do seu pedido, entre em contato conosco através dos nossos canais de atendimento.</p></li>
                </ul>
                <strong>Reenvios e Devoluções:</strong>
                <ul>
                    <li><p>Caso haja problemas na entrega, como extravio, danos no transporte ou entrega para endereço incorreto (informado pelo cliente), entre em contato conosco imediatamente para resolver a situação.</p></li>
                    <li><p>Os reenvios serão realizados sem custos adicionais para o cliente em casos de responsabilidade da transportadora ou da Gautoclinic.</p></li>
                    <li><p>Para devoluções por arrependimento ou insatisfação com o produto, consulte nossa política de trocas e devoluções.</p></li>
                </ul>
                <p>Estamos à disposição para esclarecer quaisquer dúvidas e garantir a sua melhor experiência de compra. Agradecemos por escolher a Gautoclinic!</p>
            </div>
            <div class="info-container ">
                <div class="goal disable">
                    <h1>Nossa Meta</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="compromise disable">
                    <h1>Compromissos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="principles disable">
                    <h1>Principios</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>